.form-container {
    display: flex;
    margin-left: 200px;  
    padding: 20px;
}

.form-container .form-content {
    background-color: #bdbcbc8c; 
    border-radius: 8px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    width: 400px; 
}

.form-container form{
    display: flex;
    flex-direction: column;
}

.form-container h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2px;
    margin-bottom: 20px;  
    color: black;
}

.form-container label{
    /* width: 100%; */
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
    /* border: red solid 2px; */
}

.form-container input {
    width: 90%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
}

.form-container input:focus {
    border-color: #007bff; /* Color del borde al hacer foco */
    outline: none; /* Sin contorno */
}


.form-container button {
    background: #0a0a0a; 
    color: rgb(247, 247, 247);
    border: none; 
    padding: 10px; 
    border-radius: 4px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 50%; 
    font-size: 20px; 
    cursor: pointer;
    margin: auto;
}

.form-container button:hover {
    background: #0056b3; 
    color: black;
}
